rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /authors/pls-site-id/{authorId}/{fileName} {
      allow read: if true;
      allow create, update: if
        request.resource != null &&
        request.resource.size < 5 * 1024 * 1024 &&
        request.resource.contentType.matches('image/.*');
      allow delete: if true;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
